{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}

{% block content %}
<style>
    /* .hidden {
      display: none;
    } */

    ul {
      list-style: none;
      /* padding: 0;
      margin: 1; */
      width: 400px;
    }

	li {
		display: flex;
        justify-content: space-between
    }
	
    li button {
      -webkit-appearance: none;
      border: none;
      outline: none;
      color: red;
      float: right;
      cursor: pointer;
      font-size: 20px;
    }

    /* .lists-wrapper,
    .todos-wrapper {
      display: inline-block;
      vertical-align: top;
    }

    a {
      color: blue;
      text-decoration: none;
      /* no underline */
    /* } */
  </style>
  <h3 class="text-right">
	<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
</h3>
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		<div class="hidden" id="error"> Something went wrong! </div>

		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<button class="delete-list" data-id="{{ venue.id }}" >&cross;</button>
			<!-- <button class="delete-list" method="del" action="/venues/{{ venue.id }}/delete" >&cross;</button> -->

		</li>
		{% endfor %}
	</ul>

	<script>
		const deletebuttons = document.querySelectorAll('.delete-list')
		 for (let i = 0; i < deletebuttons.length; i++) {
		   const deletebutton = deletebuttons[i];
		   deletebutton.onclick = function (e) {
			 console.log('event', e);
			 const venueId = e.target.dataset['id'];
			 fetch('/venues/' + venueId, {
			   method: 'DELETE'
			 })
			   .then(function () {
				 window.location.href = '/venues'
				 document.getElementById('error').className = 'hidden';
			   })
			   .catch(function () {
				 document.getElementById('error').className = '';
			   })
		   }
		 }
   
   </script>
{% endfor %}
{% endblock %}

